@font-face {
  font-family: brandon-grotesque;
  src: url(../fonts/Brandon_med.otf);
}

html, body, * {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header .menu-icon a {
  width: 100%;
  height: 100%;
}

.animation-fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.animation-nudge {
  opacity: 0;
  animation: nudge 200ms 100ms forwards;
}

.animation-stretch {
  animation: stretch 200ms 100ms forwards;
}

.animation-pulsate {
  animation: pulsate 1s ease-out infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes nudge {
  0% {
    transform: translate(0, 50px);
    opacity: 0;
  }
  
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes stretch {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}

@keyframes fade-in-up {
  0% {
    transform: translate3d(0px, 70px, 0px) scale3d(1, 1, 1) rotateX( -72deg) rotateY( 23deg) rotateZ( 0deg) skew( 0deg, 13deg);
    transform-style: preserve-3d;
    opacity: 0;
  }
  100% {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX( 0deg) rotateY( 0deg) rotateZ( 0deg) skew( 0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 1;
  }
}