@font-face {
  font-family: brandon-grotesque;
  src: url(../fonts/Brandon_med.otf);
}

html, body, * {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 125px;
  right: 85px;
  top: 70px;
  z-index: 100;
}

.nav-menu {
  width: 100vw;
  height: 100vh;
  padding: 0 100px;
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sofia-pro, sans-serif;
  color: #FCF9F7;
  background: rgba(27, 30, 39, 0.5);
  backdrop-filter: blur(30px);
}

.nav-menu .menu {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-menu .nav-footer {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  left: 100px;
  bottom: 50px;
  position: absolute;
}

.nav-menu .menu-icon {
  margin-left: auto;
  margin-top: 70px;
}

.nav-menu .menu-icon:after {
  content: '';
  background: #fff;
  position: absolute;
  top: 30px;
  left: 6px;
  width: 71px;
  height: 20px;
  z-index: -1;
}

.nav-menu:not(.fade-out) {
  display: none;
}

.nav-menu.fade {
  display: block;
  animation: fadeIn .5s forwards;
  transition-timing-function: ease-in-out !important;
}

.nav-menu.fade-out:not(.fade) {
  animation: fadeOut .5s forwards;
  transition-timing-function: ease-in-out !important;
}

.nav-menu .menu-item {
  margin-top: 35px;
}

.nav-menu.fade .menu-item {
  animation: nudge-in-left 800ms forwards;
}

.nav-menu.fade-out:not(.fade) .menu-item {
  animation: nudge-out-left 800ms forwards;
}

.nav-menu .menu-item a {
  font-size: 80px;
  line-height: 80px;
  font-weight: bold;
  color: #FCF9F7;
  text-decoration: none;
  position: relative;
  transition: .5s;
  transition-timing-function: ease-in-out;
}

.nav-menu .menu-item a:after {
  transition: .5s;
  transition-timing-function: ease-in-out;
  content: "";
  position: absolute;
  height: 5px;
  width: 0;
  bottom: -7px;
  left: 0;
  background: #FCF9F7;
}

.nav-menu .menu-item a:hover {
  color: #A6B9BE;
}

.nav-menu .menu-item a:hover:after {
  width: 100%;
  background: #A6B9BE;
}

.show-on-scroll.is-visible.animation-fade-in {
  animation: fadeIn 1s forwards;
}

.show-on-scroll.animation-fade-in {
  opacity: 0;
}

.show-on-scroll.is-visible.animation-nudge {
  animation: nudge 200ms 100ms forwards;
}

.show-on-scroll.animation-nudge {
  opacity: 0;
}

.show-on-scroll.is-visible.animation-stretch {
  animation: stretch 300ms 100ms forwards;
}

.show-on-scroll.animation-stretch {
  transform: scale(0);
}

.animation-pulsate {
  animation: pulsate 1s ease-out infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
    display: none;
  }
}

@keyframes nudge {
  0% {
    transform: translate(0, 50px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes nudge-in-left {
  0% {
    transform: translate(100px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes nudge-out-left {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(100px, 0);
    opacity: 0;
  }
}

@keyframes stretch {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}

@keyframes fade-in-up {
  0% {
    transform: translate3d(0px, 70px, 0px) scale3d(1, 1, 1) rotateX( -72deg) rotateY( 23deg) rotateZ( 0deg) skew( 0deg, 13deg);
    transform-style: preserve-3d;
    opacity: 0;
  }
  100% {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX( 0deg) rotateY( 0deg) rotateZ( 0deg) skew( 0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 1;
  }
}