a {
  color: #f0f0f0;
}

.container {
  font-family: sofia-pro, sans-serif;
  color: #ffffff;
  position: relative;
  background: #1660A9;
  padding: 0 85px 0 125px;
}

.animation-nudge {
  animation-duration: 500ms!important;
}

.nav-menu .menu-icon {
  width: 82px;
  height: 82px;
  display: flex;
  position: relative;
  background: url('../img/menu.svg');
  background-size: cover;
}

.nav-menu .menu-icon:after {
  content: none;
}

.line {
  border: 0;
  border-style: dashed;
  border-top-width: 1px;
  border-color: #ffffff;
}

.line.vertical {
  border-top-width: 0;
  border-right-width: 1px;
}

.line.blue {
  border-color: #033171;
}

.header {
  position: absolute;
  left: 125px;
  right: 85px;
  top: 70px;
  z-index: 10;
}

.home-builder {
  position: relative;
  margin: 0 -85px 377px -125px;
}

.home-builder .home-background {
  height: 1000px;
  background: url('../img/home.svg') 100% 100% no-repeat;
  background-position: center;
}

.home-builder .title {
  width: 54%;
  font-size: 133px;
  letter-spacing: -2.66px;
  line-height: 133px;
  font-weight: 300;
  text-align: right;
  position: absolute;
  right: 77px;
  top: 540px;
}

.home-builder .dot {
  position: absolute;
  bottom: 100px;
  left: 50%;
}

.home-builder .line {
  height: 466px;
  position: absolute;
  left: 50%;
  bottom: -377px;
  transform: scale(0);
  animation-delay: 100ms;
}

.ring-container {
  position: relative;
}

.circle {
  position: absolute;
  left: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ec4645;
}

.ringring {
  border: 3px solid #ec4645;
  border-radius: 30px;
  height: 36px;
  width: 36px;
  position: absolute;
  left: -18px;
  top: -18px;
}

.human-touch .title {
  text-transform: uppercase;
  font-size: 133px;
  letter-spacing: -4.39px;
  line-height: 133px;
  font-weight: 500;
  font-family: brandon-grotesque, sans-serif;
  margin: 63px 0 85px 35px;
  max-width: 60%;
}

.human-touch .line {
  transform: scale(0);
}

.main-introduce {
  margin-bottom: 103px;
}

.main-introduce>.description {
  font-size: 84px;
  letter-spacing: -2.35px;
  line-height: 108px;
  color: #f0f0f0;
  font-weight: 300;
  text-align: center;
  margin: 123px 0 68px;
}

.main-introduce .content {
  margin: 162px 125px 0 77px;
}

.main-introduce .content .item {
  display: flex;
}

.main-introduce .content .line.vertical {
  margin: 0 113px 0 82px;
}

.main-introduce .content .info-item {
  width: 50%;
}

.main-introduce .content .info-item.img {
  display: flex;
}

.main-introduce .content .info-item .title {
  font-size: 54px;
  letter-spacing: -1.51px;
  line-height: 58px;
  color: #f0f0f0;
  font-weight: 500;
  margin-bottom: 48px;
}

.main-introduce .content .info-item .description {
  font-size: 24px;
  line-height: 28px;
  color: #F0F0F0;
  opacity: 0.64;
  font-weight: 500;
}

.main-introduce .content .info-item.left {
  text-align: right;
}

.main-introduce .content .info-item.img.left {
  justify-content: flex-end;
}

.main-introduce .content .info-item {
  margin-bottom: 510px;
}

.main-introduce .content .item.why-us .info-item {
  margin-top: 55px;
}

.main-introduce .content .item.process .info-item.description {
  margin-top: 100px;
}

.main-introduce .content .item.person .info-item.description {
  margin-top: 78px;
}

.main-introduce .content .item.bottle .info-item {
  margin: 0;
}

.main-introduce .content .item.bottle .info-item.description {
  margin-top: 259px;
}

.main-introduce .content .item.bottle .info-item.img {
  margin-bottom: 277px;
}

.our-method {
  margin: 71px 0 150px;
}

.our-method>.title {
  font-family: brandon-grotesque, sans-serif;
  font-size: 159px;
  letter-spacing: -5.25px;
  line-height: 139px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 97px;
}

.our-method>.description {
  width: 44%;
  font-size: 34px;
  line-height: 44px;
  font-weight: 500;
  margin-bottom: 100px;
}

.our-method .description div:nth-child(2) {
  margin: 50px 0;
}

.our-method .method-list {
  padding-left: 16px;
}

.our-method .method-item:first-child {
  margin-left: -16px;
  padding-left: 16px;
}

.our-method .method-item {
  display: flex;
  justify-content: space-between;
  padding-top: 34px;
  margin-top: 90px;
  border-top: 1px solid #ffffff;
}

.our-method .method-item .number {
  width: 48px;
  font-family: brandon-grotesque, sans-serif;
  font-size: 63px;
  font-weight: 500;
  letter-spacing: -1.76px;
  line-height: 68px;
}

.our-method .method-item .title {
  flex: 1 1 auto;
  font-size: 69px;
  letter-spacing: -1.93px;
  line-height: 58px;
  font-weight: 500;
  margin-left: 94px;
  opacity: 0;
}

.our-method .method-item .description {
  width: 620px;
  font-size: 33px;
  letter-spacing: 0;
  line-height: 41px;
  font-weight: 300;
  opacity: 0.77;
}

.all-segments {
  margin: 190px 0 158px;
}

.all-segments .title {
  text-transform: uppercase;
}

.all-segments>.title {
  font-family: brandon-grotesque, sans-serif;
  font-size: 88px;
  font-weight: 500;
  line-height: 117px;
  letter-spacing: -2.9px;
  text-transform: uppercase;
}

.segments-list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 850px;
  margin-top: -80px;
}

.segments-item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.segments-item .title {
  font-family: brandon-grotesque, sans-serif;
  font-size: 58px;
  letter-spacing: 2.44px;
  line-height: 58px;
  color: #f0f0f0;
  font-weight: 300;
  text-align: center;
  margin: 25px 0 5px;
}

.segments-item .description {
  font-size: 20px;
  line-height: 28px;
  color: #f0f0f077;
  font-weight: 500;
  text-align: center;
  opacity: 0;
}

.segments-item:nth-child(2) .title {
  font-weight: 500;
}

.segments-item:last-child .title {
  font-weight: 900;
}

.segments-item .building1.show-on-scroll {
  width: 162px;
  height: 0;
  background: url('../img/building1.svg') 100% 100% no-repeat;
}

.segments-item .building2.show-on-scroll {
  width: 212px;
  height: 0;
  background: url('../img/building2.svg') 100% 100% no-repeat;
}

.segments-item .building3.show-on-scroll {
  width: 227px;
  height: 0;
  background: url('../img/building3.svg') 100% 100% no-repeat;
}

.quote {
  margin: 295px 0 75px;
}

.quote .title {
  font-size: 133px;
  letter-spacing: -4.39px;
  line-height: 133px;
  font-weight: 500;
  font-family: brandon-grotesque, sans-serif;
  text-align: center;
  text-transform: uppercase;
  width: 77%;
  margin: 0 auto 56px;
}

.quote-list {
  display: flex;
}

.quote-list .quote-item {
  width: 33%;
  display: flex;
}

.quote-list .quote-item .content {
  margin: 50px 32px 120px 55px;
  font-size: 27px;
  line-height: 33px;
  font-weight: 300;
  font-style: italic;
}

.quote-list .quote-item .content div {
  margin-bottom: 40px;
}

.quote-list .quote-item .content strong {
  font-style: normal;
}

.talk-project .question {
  font-size: 54px;
  letter-spacing: 0px;
  line-height: 58px;
  color: #f0f0f0;
  font-weight: 300;
  text-align: center;
  margin: 100px 0;
}

.talk-project .line {
  width: 0;
  height: 370px;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
  color: #f0f0f0;
  margin: 57px -25px 0 -65px;
  padding-bottom: 32px;
}

.footer .contact, .footer .avenue {
  font-weight: bold;
  color: #ffffff;
}

/* Animation */

.our-method .method-item .show-on-scroll.is-visible {
  animation: fade-in-up 1s forwards;
}

.show-on-scroll.is-visible.building1 {
  transition: height 500ms;
  height: 434px;
}

.show-on-scroll.is-visible.building2 {
  transition: height 500ms;
  transition-delay: 300ms;
  height: 545px;
}

.show-on-scroll.is-visible.building3 {
  transition: height 500ms;
  transition-delay: 600ms;
  height: 729px;
}

@media screen and (max-width: 1360px) {
  .segments-list {
    margin-top: 0;
  }
  .segments-item .title {
    font-size: 40px;
  }
}

@media screen and (max-width: 1280px) {
  .home-builder {
    margin-bottom: 300px;
  }
  .home-builder .line {
    height: 390px;
    bottom: -300px;
  }
  .home-builder .title, .human-touch .title {
    font-size: 80px;
    line-height: 90px;
  }
  .main-introduce>.description {
    font-size: 50px;
    line-height: 50px;
  }
  .main-introduce .content .info-item {
    margin-bottom: 300px;
  }
  .main-introduce .content .item.bottle .info-item.img {
    margin-bottom: 180px;
  }
  .main-introduce .content .info-item .title {
    font-size: 30px;
    line-height: 35px;
  }
  .main-introduce .content .info-item .description {
    font-size: 19px;
    line-height: 25px;
  }
  .our-method>.title {
    font-size: 80px;
    letter-spacing: 0;
  }
  .our-method .method-item .description {
    width: 450px;
  }
  .quote {
    margin-top: 150px;
  }
  .quote .title {
    width: 100%;
    font-size: 80px;
    line-height: 80px;
  }
  .quote-list .quote-item .content {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 25px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }
  .header {
    left: 46px;
    right: 36px;
    top: 42px;
  }
  .header a:first-child {
    width: 100px;
  }
  .header .menu-icon, .nav-menu .menu-icon {
    width: 45px;
    height: 45px;
  }
  .nav-menu .menu-item a {
    font-size: 40px;
    line-height: 40px;
  }
  .home-builder {
    margin-left: -30px;
    margin-right: -30px;
  }
  .home-builder .title {
    right: 30px;
  }
  .main-introduce {
    margin-bottom: 70px;
  }
  .main-introduce .content {
    margin: 87px 0 0;
  }
  .main-introduce .content .line.vertical {
    margin: 0 50px;
  }
  .main-introduce .content .item.why-us .info-item {
    margin-top: 30px;
  }
  .main-introduce .content .info-item.img>div {
    width: 200px;
  }
  .main-introduce .content .item.bottle .info-item.img>div {
    height: 350px;
  }
  .main-introduce .content .item.bottle .info-item.description {
    margin-top: 180px;
  }
  .our-method {
    margin-bottom: 100px;
  }
  .our-method>.title {
    margin-bottom: 30px;
  }
  .our-method>.description {
    width: 55%;
  }
  .our-method .method-item {
    margin-top: 50px;
    padding-top: 20px;
  }
  .our-method .method-item .number {
    font-size: 45px;
  }
  .our-method .method-item .title {
    font-size: 50px;
  }
  .our-method .method-item .description {
    font-size: 25px;
    line-height: 30px;
  }
  .quote {
    margin-top: 70px;
  }
  .talk-project .line {
    height: 200px;
  }
  .talk-project .question {
    margin: 50px 0;
    font-size: 40px;
  }
  .footer {
    font-size: 16px;
    margin: 50px 0 0;
  }
}

@media screen and (max-width: 940px) {
  .segments-list {
    flex-direction: column;
    align-items: center;
  }
  .segments-item {
    width: 100%;
    margin-top: 100px;
  }
  .segments-item .img {
    display: flex;
    align-items: flex-end;
  }
  .segments-item .building1.img {
    min-height: 434px;
  }
  .segments-item .building2.img {
    min-height: 545px;
  }
  .segments-item .building3.img {
    min-height: 729px;
  }
  .show-on-scroll.is-visible.building1, .show-on-scroll.is-visible.building2, .show-on-scroll.is-visible.building3 {
    transition-delay: 200ms;
  }
}

@media screen and (max-width: 860px) {
  .home-builder .title {
    font-size: 43px;
    line-height: 43px;
    letter-spacing: 0;
  }
  .human-touch .title, .quote .title {
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 0;
  }
  .main-introduce>.description {
    font-size: 27px;
    line-height: 1.5;
    letter-spacing: 0;
    margin: 50px 0 30px;
  }
  .main-introduce .content .info-item {
    margin-bottom: 170px;
  }
  .main-introduce .content .item.process .info-item.description {
    margin-top: 50px;
  }
  .main-introduce .content .item.bottle .info-item.img {
    margin-bottom: 100px;
  }
  .our-method>.title {
    font-size: 45px;
    line-height: 48px;
  }
  .our-method>.description, .our-method .method-item .description {
    font-size: 20px;
    line-height: 30px;
    width: auto;
  }
  .our-method .method-item .number {
    font-size: 30px;
  }
  .our-method .method-item .title {
    font-size: 30px;
    margin-left: 20px;
  }
  .our-method .method-item .description {
    max-width: 365px;
    padding-left: 20px;
  }
  .quote-list .quote-item .content {
    margin: 20px;
  }
}

@media screen and (max-width: 768px) {
  .home-builder .title {
    width: 100%;
  }
  .human-touch .title {
    max-width: 100%;
    margin: 16px 0 25px 15px;
  }
  .main-introduce>.description {
    margin: 35px auto;
  }
  .main-introduce .content {
    margin: 0;
  }
  .main-introduce .content .item {
    flex-direction: column;
    margin-top: 100px;
  }
  .main-introduce .content .item .line, .quote-list .quote-item .line {
    border-top-width: 1px;
    border-right-width: 0;
  }
  .main-introduce .content .item .line {
    order: 3;
  }
  .main-introduce .content .item .info-item.img {
    order: 1;
    margin: 0;
    margin-bottom: 27px;
  }
  .main-introduce .content .item .info-item.description {
    order: 2;
    width: 100%;
    text-align: left;
    margin: 0;
  }
  .main-introduce .content .info-item .title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
    margin-bottom: 16px;
  }
  .main-introduce .content .info-item .description {
    margin-bottom: 56px;
  }
  .main-introduce .content .line.vertical {
    margin: 0;
  }
  .main-introduce .content .info-item.img.left {
    justify-content: flex-start;
  }
  .main-introduce .content .item.process .info-item.description, .main-introduce .content .item.person .info-item.description, .main-introduce .content .item.bottle .info-item.description, .main-introduce {
    margin: 0;
  }
  .main-introduce .content .item.bottle .info-item.img {
    margin-bottom: 27px;
  }
  .main-introduce .content .item.bottle .line {
    display: none;
  }
  .our-method {
    margin: 61px 0 41px;
  }
  .our-method>.title {
    text-align: left;
    margin-bottom: 23px;
  }
  .our-method>.description {
    margin-bottom: 0;
  }
  .our-method .description div:nth-child(2) {
    margin: 15px 0;
  }
  .our-method .method-item:first-child {
    padding-left: 0;
    margin-left: 0;
    border: 0;
  }
  .our-method .method-item {
    flex-wrap: wrap;
    padding-top: 116px;
  }
  .our-method .method-item .number {
    width: 36px;
  }
  .our-method .method-item .title {
    margin-left: 0;
    margin-bottom: 40px;
  }
  .our-method .method-item .description {
    max-width: 100%;
    padding: 0;
  }
  .all-segments {
    margin-top: 48px;
  }
  .all-segments>.title {
    font-size: 45px;
    line-height: 48px;
    letter-spacing: 0;
  }
  .segments-item .title {
    font-size: 38px;
    margin-top: 17px;
  }
  .quote {
    margin-bottom: 50px;
  }
  .quote .title {
    margin-bottom: 70px;
  }
  .quote-list {
    flex-direction: column;
  }
  .quote-list .quote-item {
    width: 100%;
  }
  .quote-list .quote-item .content {
    margin: 0;
  }
  .quote-list .quote-item:nth-child(2) {
    flex-direction: column;
  }
  .quote-item .line {
    margin: 45px 0;
  }
  .talk-project .question {
    font-size: 29px;
    line-height: 38px;
    margin: 28px 0;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }
  .footer .group-agio {
    font-size: 22px;
    line-height: 33px;
  }
  .footer .office {
    font-size: 17px;
    line-height: 33px;
  }
  .footer .avenue {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
  }
  .footer .contact {
    font-size: 20px;
    line-height: 28px;
  }
}