.container {
  color: #1660a9;
  font-family: sofia-pro, sans-serif;
  background-color: #F3F7FA;
  padding: 70px 60px 34.5px 50px;
}

.header {
  padding-left: 75px;
  padding-right: 25px;
  margin-bottom: 43px;
}

.header .menu-icon {
  width: 82px;
  height: 82px;
  display: flex;
  background-color: #1660a9;
  mask: url(../img/menu.svg) no-repeat center / contain;
  -webkit-mask: url(../img/menu.svg) no-repeat center / contain;
}

.page-title {
  font-family: brandon-grotesque, sans-serif;
  font-size: 80px;
  letter-spacing: -2.64px;
  text-transform: uppercase;
  line-height: 88px;
  text-align: right;
  padding-right: 50px;
  animation-delay: 200ms!important;
}

.top-line {
  border-top: 1px dashed #033171;
  margin: 14.5px 0 46px;
  animation-delay: 300ms!important;
  transform: scale(0);
}

.line {
  border: 1px dashed #0E65B8;
  margin: 50px 0;
  animation-delay: 800ms!important;
  transform: scale(0);
}

.vertical.line {
  margin: 0;
  margin-right: 16px;
  border-top-width: 0;
  border-right-width: 1px;
  border-style: solid;
  animation-delay: 500ms!important;
  transform: scale(0);
}

.main {
  padding-left: 52px;
  padding-right: 42px;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.main-content .img {
  animation-delay: 400ms!important;
  width: 189%;
}

.info .title {
  font-size: 45px;
  letter-spacing: -1.26px;
  line-height: 53px;
  font-weight: 500;
  margin-right: 30px;
  margin-bottom: 20px;
  animation-delay: 600ms!important;
}

.info .description {
  font-size: 24px;
  letter-spacing: -0.67px;
  line-height: 28px;
  font-weight: 300;
  opacity: 0;
  animation-delay: 700ms!important;
}

.info .description.show-on-scroll.is-visible {
  animation: nudge-opacity 200ms 100ms forwards;
}

.introduce {
  padding-left: 118px;
  padding-right: 91px;
  margin-bottom: 120px;
}

.introduce .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.introduce-item {
  margin-right: 78px;
  margin-bottom: 20px;
  width: 250px;
}

.introduce-item:nth-child(1) {
  animation-delay: 100ms!important;
}

.introduce-item:nth-child(2) {
  animation-delay: 200ms!important;
}

.introduce-item:nth-child(3) {
  animation-delay: 300ms!important;
}

.introduce-item:nth-child(4) {
  animation-delay: 400ms!important;
}

.introduce-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5px;
  max-width: 250px;
}

.introduce-header .title {
  font-size: 30px;
  line-height: 58px;
  font-weight: 500;
  letter-spacing: -0.84px;
  margin-right: 10px;
}

.introduce-header .img {
  height: 66px;
}

.introduce-item .description {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  opacity: 0.64;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  text-align: center;
}

.footer .contact, .footer .avenue {
  font-weight: bold;
}

.footer .contact a, .footer .contact a:hover {
  color: inherit;
}

.footer>div:first-child, .footer .contact {
  opacity: 0.77;
}

.footer>div:first-child {
  min-width: 105px;
}

.footer>div:nth-child(2) {
  margin: 0 10px;
}

@keyframes nudge-opacity {
  0% {
    transform: translate(0, 50px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 0.64;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 50px 20px 0;
  }
  .main-content {
    flex-direction: column;
  }
  .main-content .info {
    margin: 10px 20px 0;
  }
  .main-content .img {
    width: 100%;
  }
  .header, .introduce {
    padding: 0 50px;
  }
  .introduce-item {
    margin-right: 20px;
  }
}

@media screen and (max-width: 680px) {
  .header, .page-title, .main, .introduce {
    padding: 0;
  }
  .introduce .list {
    justify-content: center;
  }
  .introduce-item {
    display: flex;
    flex-direction: column;
  }
}